@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background: #E5E5E5;
}

body {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

}

.main-container {
  flex-grow: 1;
  margin: 0 auto;
}

button {
  background: #756257;
  border-radius: 10px;
  border: none;
}
button:hover {
  background: #615048;
}
button:active {
  background: #615048;
}
button:active span {
  opacity: 0.3;
}
button:focus {
  background: #615048;
  border: 3px solid #83B3D3;
}


.hostel_list {
  display: grid;
  grid-template-columns: auto 287px 241px;
  width: 1057px;
  margin-left: 71px;
  margin-right: 72px;
  margin-top: 44px;
  margin-bottom: 0;
  align-items: center;
}
.hostel_list h3 {
  margin-right: 92px;
}

.hostel_type {
  width: 287px;
  height: 48px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  background-color: #ffffff;
}
.hostel_type:hover {
  border: 2px solid #83B3D3;
  border-radius: 4px;
}
.hostel_type:active {
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  color: rgba(51, 51, 51, 0.3)
}
.hostel_on_page {
  width: 160px;
  height: 48px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  padding-top: 1px;
  padding-left: 17px;
  margin-left: 51px;
}
.hostel_on_page_label {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
.hostel_list_view {
  display: flex;
  height: 48px;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}
.hostel_list_view li {
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  margin-right: 8px;
}
.hostel_list_view li:hover,
.hostel_list_view li:focus {
  border: 2px solid #83B3D3;
  border-radius: 4px;
}

.hostel_list_view li:first-of-type {
  background: url("../img/mode-tile.svg") center no-repeat;
}
.hostel_list_view li:nth-of-type(2) {
  background: url("../img/mode-slideshow.svg") center no-repeat;
}
.hostel_list_view li:last-of-type {
  background: url("../img/mode-list.svg") center no-repeat;
  margin-right: 0;
}
li.hostel_list_view_active {
  border: 2px solid #000000;
  border-radius: 4px;
}

.prouct_card_more {
  background: #756257;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 151px;
  height: 37px;
  grid-area: button_more;
}
.prouct_card_favourite {
  background: #83B3D3;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 160px;
  height: 37px;
  grid-area: button_favourite;
}
.prouct_card_favourite:hover {
  background: #68A2CA;
  border: 1px solid #756257;
  border-radius: 4px;
}
.prouct_card_favourite:focus {
  background: #68A2CA;
  border: 3px solid #756257;
  border-radius: 4px;
}
.prouct_card_favourite:active {
  background: #68A2CA;
  border: 1px solid #756257;
  border-radius: 4px;
}
.prouct_card_favourite:active span {
  opacity: 0.3;
}

.prouct_card_favourite_in {
  width: 160px;
  height: 37px;
  left: 487px;
  top: 1083px;
  background: #7DB54F;
  border-radius: 4px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.prouct_card_favourite_in:hover {
  background: #6C9E42;
  border-radius: 4px;
}
.prouct_card_favourite_in:focus {
  background: #6C9E42;
  border: 3px solid #756257;
  border-radius: 4px;
}
.prouct_card_favourite_in:active {
  background: #6C9E42;
  border-radius: 4px;
}
.prouct_card_favourite_in:active span {
  opacity: 0.3;
}

.i_want {
  background: #756257;
  border-radius: 4px;
  width: 160px;
  height: 37px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;

}
.interesting {
  position: relative;
}
.search_apartament {
  width: 575px;
  height: 60px;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 auto;
  display: block;
  margin-bottom: 91px;
}

.search_apartament:hover {
  background: #615048;
}
.search_apartament:focus {
  background: #615048;
  border: 3px solid #83B3D3;
}
.search_apartament:active {
  background: #615048;
  border: none;
}
.search_apartament:active span {
  opacity: 0.3;
}

.popover {
  position: absolute;
  background: #FFFFFF;
  border: 0px solid #E6E6E6;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.popover_favourite {
  top: 62px;
  right: 72px;
  width: 400px;
  min-height: 232px;

  z-index: 1;
}
.modal_container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
  z-index: 2;
}
.popover_favourite::after {
  content: '';
  position: absolute;
  top: -9px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 9px;
  background: url("../img/popover_favourite.png") no-repeat;
}
.popover_favourite_list {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  list-style-type: none;
  justify-content: center;

}
.popover_favourite_list div {
  width: 400px;
  height: 48px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.popover_favourite_list div:last-of-type {
  margin-top: 0;
  margin-bottom: 0;
}
.popover_favourite_line {
  max-width: 350px;
  max-height: 48px;
  display: grid;
  grid-template-columns: 65px 1fr 16px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img_popover h3_popover cart_popover"
  "img_popover description_popover cart_popover";
}
.popover_favourite_line:hover {
  opacity: 0.6;
  outline: 3px solid #83B3D3;
  border-radius: 2px;
  padding: 5px;
  cursor: pointer;
}
.popover_favourite_line:focus {
  outline: 3px solid #83B3D3;
  border-radius: 2px;
  padding: 5px;
}
.popover_favourite_line:active {
  opacity: 0.3;
}
.product_card_img_popover {
  grid-area: img_popover;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
.h3_popover {
  grid-area: h3_popover;
  margin: 0;
}
.cart_popover {
  grid-area: cart_popover;
  justify-self: center;
  fill: #000000;
  opacity: 0.3;
}
.cart_popover:hover {
  fill: #000000;
  opacity: 1;
  cursor: pointer;
}
.cart_popover:focus {
  fill: #000000;
  opacity: 1;
  cursor: pointer;
  outline: 3px solid #83B3D3;
  border-radius: 2px;
  padding: 5px;
}
.cart_popover:active {
  fill: #000000;
  opacity: 0.1;
  cursor: pointer;
}
.description_popover {
  grid-area: description_popover;
}

.popover_favourite_button {
  position: absolute;
  top: 74%;
  margin-bottom: -60px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  width: 400px;
  height: 60px;
  align-self: flex-end;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  background: #756257;
  border-width: 0;
  border-radius: 0px 0px 20px 20px;
}
.popover_favourite_button span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 44px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 65px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 415px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-left: 71px;
  margin-right: auto;
}

.navigation-user {
  display: flex;
  max-width: 420px;
  margin-left: auto;
  margin-right: 72px;
  justify-content: end;
  align-content: center;
}

.navigation-user li:first-of-type {
  margin-right: 21px;
}
.navigation-user li:nth-of-type(2) {
  margin-right: 33px;
}

.logo_company {
  position: absolute;
  left: 50%;
  z-index: 2;
  margin-left: -69px;
}
.logo_company_img {
  width: 138px;
  height: 70px;
}

.navigation-link {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: 000000;
  display: block;
  height: 26px;
  padding-top: 19px;
  padding-bottom: 20px;
  margin-right: 33px;
  color: #000000;
  text-decoration: none;
}
.navigation-link-icon {
  position: relative;
  display: block;
  width: 18px;
  height: 18px;
  margin-righ1t: 20px;
  color: #000000;
  text-decoration: none;
}
.navigation-link:hover {
  color: #756257;
}
.navigation-link:active {
  color: #756257;
  opacity: 0.3;
  border: none;
}
.current_link {
  border-bottom: 2px solid #756257;
}

.navigation-link-icon:focus {
  padding: 10px;
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.navigation_icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  fill: #000;
}
.navigation_icon:hover {
  fill: #756257;
}

.sedona_main_h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: 000000;
  text-align: center;
  text-transform: uppercase;
}
.five_reasons {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}
.reasons h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.table_reasons {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  text-align: center;
}

.reason_img {
  line-height: 0;
}

.reason_light {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 384px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.reasons_dark {
  background: rgba(131, 179, 211, 0.2);
}
.reason_light p {
  width: 220px;
}
.reason_light img {
  align-self: center;
  margin-top: 89px;
}
.reason_white img {
  align-self: center;
  margin-top: 89px;
}

.reason_white {
  background: #FFFFFF;
  width: 400px;
  height: 384px;
  display: flex;
  flex-direction: column;
}
.reason_white p {
  width: 250px;
}

h3.reason_black {
  color: #000000;
  margin-top: 98px;
  margin-bottom: 0;
  align-self: center;
}
h3.reason_black_decor {
  color: #000000;
  margin-top: 23px;
  margin-bottom: 20px;
  align-self: center;

}

.reasons_main {
  background: #83B3D3;
  width: 400px;
  height: 384px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.reasons_main h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 98px;
  margin-bottom: 0;
  align-self: center;
}
.reasons_main p {
  color: #FFFFFF;
  width: 220px;
}

.reasons_main_number {
  margin-top: 25px;
  margin-bottom: 26px;
  width: 250px;
  align-self: center;
}
.reasons_main_description {
  align-self: center;
  margin: 0;
  width: 220px;
}

.reasons_main img {
  flex-shrink: 0;
}
.reason_housing {
  width: 75px;
  height: 72px;
}
.index_bg {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../img/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
  z-index: -1;
}

.index_bg_vector_name {
  color: #ffffff;
  background-image: url("../img/welcome.svg");
  background-size: 458px 352px;
  background-repeat: no-repeat;
  background-position: 371px 51px;
  width: 1200px;
  height: 485px;
}

.index_bg_vector {
  color: #ffffff;
  background-image: url("../img/divider.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 1200px;
  height: 485px;
}

.hostel_filter {
  color: #ffffff;
  background-image: url("../img/catalog-background 1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 1200px;
  height: 408px;
  margin: 0 auto;
}

.summa_filter_input {
  height: 48px;
  padding: 14px 0px 11px 19px;
  font: inherit;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 4px 0px 0px 4px;
  appearance: textfield;
  box-sizing: border-box;
}

.summa_ot {
  width: 143px;
  border-radius: 4px 0px 0px 4px;
  border-right: none;
}
.summa_ot_label,
.summa_do_label {
  position: relative;
}
.summa_ot_span::before {
  position: absolute;
  top: -2px;
  right: 14px;
  color: #FFFFFF;
  opacity: 0.3;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  content: "от";
}
.summa_do_span::before {
  position: absolute;
  top: -2px;
  right: 14px;
  color: #FFFFFF;
  opacity: 0.3;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  content: "до";
}

.summa_do {
  width: 144px;
  border-radius: 0px 4px 4px 0px;
}
.range-scale {
  position: relative;
  height: 4px;
  width: 287px;
  margin-top: 32px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}
.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}
.range-toggle:hover {
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.range-toggle:focus {
  background: #FFFFFF;
  border: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.range-toggle:active {
  background: #FFFFFF;
  border: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
.range_min {
  top: -8px;
  left: 0px;
}
.range_max {
  top: -8px;
  right: 0px;
}

.bread_crumbs {
  margin: 0 72px;
  margin-bottom: 53px;
}
.home_breadcrumbs {
  fill: #FFFFFF;
  margin-right: 11px;
}
.nav_link_breadcrumbs {
  fill: #FFFFFF;
  opacity: 0.3; ;
  margin-right: 10px;
}
.bread_crumbs_animation:hover {
  opacity: 0.6;
}
.bread_crumbs_animation:hover .nav_link_breadcrumbs {
  opacity: 0;
}
.bread_crumbs_animation:active {
  opacity: 0.3;
}
label input[type=checkbox] {
  color: #7DB54F;
}
.catalog_h2 {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  margin-top: 35px;
  margin-bottom: 8px;
}

.hostel_filter_form {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 0 72px;
}
.name_filter {
  margin: 0;
  margin-bottom: 35px;
}
.infastructura_checkbox {
  display: flex;
  flex-direction: column;
}
.type_hostel_checkbox {
  display: flex;
  flex-direction: column;
}
.control {
  position: relative;
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  padding-left: 39px;
  margin-bottom: 16px;
}
.control:hover .control_mark,
.control:hover .control_mark_round  {
  background: rgba(255, 255, 255, 0.6);
}
.control_mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 4px;
}
.control_mark_round {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 50%;
}
.control_input[type="checkbox"]:checked + .control_mark::before {
  position: absolute;
  top: 6px;
  left: 4px;
  width: 13px;
  height: 10px;
  background-image: url("../img/checkbox.svg");
  content: "";
}
.control_input_round[type="radio"]:checked + .control_mark_round::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background: #3F5E72;
  border-radius: 50%;
  content: "";
}


.button_filter {
  display: grid;
  justify-content: center;
  margin-top: 56px;
}
.button_submit_filter {
  background: #83B3D3;
  border-radius: 4px;
  border: none;
  width: 160px;
  height: 48px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.button_submit_filter:hover {
  background: #68A2CA;
}
.button_submit_filter:focus {
  border: 3px solid #FFFFFF;
border-radius: 4px;
}
.button_submit_filter:active {
  background: #68A2CA;
  color:rgba(255, 255, 255, 0.3);
}

.button_reset_filter {
  width: 100px;
  height: 32px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  text-align: center;
  background: none;
  border: none;
  justify-self: center;
}
.button_reset_filter:hover {
  color: rgba(255, 255, 255, 0.6);
}
.button_reset_filter:focus {
  outline: 3px solid #83B3D3;
  width: 100px;
  height: 32px;
  border-radius: 4px;
}
.button_reset_filter:active {
  color: rgba(255, 255, 255, 0.3);
}

.intersting {
  margin: 0 auto;
}

.intersting_h {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.intersting_more {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1056px;
  margin-left: 72px;
  margin-right: 72px;
}

.pagination_list {
  display: flex;
  list-style-type: none;
  margin-right: auto;
  align-items: center;
  padding: 0;
}

.pagination_list_item {
  margin-right: 8px;
}

.pagination_list_item_links {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  background: #83B3D3;
  border-radius: 4px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  padding1: 17px 20px;
  padding-top: 16px;
}
.pagination_list_item_links:hover {
  background: #68A2CA;
}
.pagination_list_item_links:focus {
  outline: 3px solid #756257;
}
.pagination_list_item_links:active {
  background: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}
.current_pagination {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: #F2F2F2;
  border-radius: 4px;
  padding-top: 0px;
}
.current_pagination:hover,
.current_pagination:focus,
.current_pagination:active  {
  background: #F2F2F2;
  color: #000000;
}

footer {
  margin: 0 auto;
  height: 531px;
}

.subscribe {
  box-sizing: border-box;
  color: #ffffff;
  background-image: url("../img/footer_background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 1200px;
  height: 411px;
  padding-top: 94px;
}
.sub_none {
  background-image: none;
}
.sub_none h3 {
  color: #000000;
}
.sub_none p {
  color: #333333;
}

.subscribe h3 {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subscribe p {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe_action {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.email_enter {
  width: 600px;
  height: 60px;
  box-sizing: border-box;
  background: #F2F2F2;
  border-style: none;
  border-radius: 10px 0px 0px 10px;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding-left: 22px;
}
.email_submit {
  width: 200px;
  height: 60px;
  background: #83B3D3;
  border-style: none;
  border-radius: 0px 10px 10px 0px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  padding: 0;

}

.email_enter:hover {
  background: #E6E6E6;
}
.email_enter:focus {
  background: #E6E6E6;
  border: 3px solid #83B3D3;
}
.email_enter:active {
  color: #000000;
  background: #FFFFFF;
  border: 2px solid #000000;
}


.email_submit:hover {
  background: #68A2CA;
}
.email_submit:focus {
  background: #68A2CA;
  border: 3px solid #756257;
}
.email_submit:active {
  color: rgba(255,255,255,.3);
  background: #68A2CA;
  border: none;
}



.footer-social {
  background: #FFFFFF;
  width: 1200px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-social-list {
  list-style-type: none;
  display: flex;
  width: 126px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin-left: 72px;
}
.footer-social-link {
  width: 40px;
  height: 40px;
  display: block;
  background-position: center;
  text-align: center;
  margin-right: 3px;
}
.footer-social-youtube {
  margin-right: 0;
}

.footer-social-link-icon {
  position: relative;
  top: 50%;
  left: 50%;
  display: block;
  margin-left: -9px;
  margin-top: 0px;
  margin-right: 3px;
  width: 20px;
  height: 20px;
  fill: #83B3D3;
}
.footer-social-link-icon:hover {
  fill: #68A2CA;
}
.footer-social-link:focus {
  padding: 0px;
  outline: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 5px;
}
.footer-social-link-icon:active {
  fill: #68A2CA;
  opacity: 0.3;
}


.phonenumber {
  display: block;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto;
  text-decoration: none;
}

.phonenumber:hover {
  color: #756257;
}
.phonenumber:focus {
  padding: 15px;
  border: 3px solid #83B3D3;
  border-radius: 10px;
}
.phonenumber:active {
  color: #756257;
  opacity: 0.3;
}

.hostel_card {
  display: grid;
  width: 1056px;
  margin: 0 72px;
  margin-top: 42px;
}
.product_card {
  display: flex;
}
.product_card_img {
  margin-right: 36px;
}
.product_card_img:hover {
  opacity: 0.6;
}
.product_card_img:focus {
  border: 3px solid #83B3D3;
}
.product_card_img:active {
  opacity: 0.3;
}

.product_card_description {
  display: grid;
  max-width: 319px;
  max-height: 120px;
  margin-right: 361px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "name_h3 name_h3"
  "desctiption_hostel cost_hostel"
  "button_more button_favourite";
}
.product_card_description h3 {
  margin: 0;
  grid-area: name_h3;
}
.product_card_description p {
  margin-top: 0;
  margin-bottom: 31px;
  grid-area: desctiption_hostel;
}
.prouct_card_cost_right {
  grid-area: cost_hostel;
}

.product_card_rating {
  margin-left: auto;
  display: grid;
  max-width: 160px;
  max-height: 120px;
}
.product_card_rating_star {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  list-style-type: none;
  margin-top: 6px;
}
.star_active {
  width: 18px;
  height: 17px;
  margin-right: 7px;
  background: url("../img/star_rating.svg") no-repeat;
}
.star_active:last-of-type {
  margin-right: 0;
}
.card_rating {
  display: block;
  width: 160px;
  height: 37px;
  background: #F2F2F2;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  align-self: flex-end;
}
.card_rating:hover,
.card_rating:focus,
.card_rating:active {
  background: #F2F2F2;
}
.product_card_button_more {
  justify-self: center;
  width: 625px;
  height: 55px;
  background: #83B3D3;
  border-radius: 4px;
  margin-top: 31px;
  border: none;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.product_card_line {
  width: 1056px;
  height: 0px;
  border: 1px solid #E6E6E6;
  transform: rotate(180deg);
  margin-top: 30px;
  margin-bottom: 28px;
}
.product_card_line:first-of-type {
  margin-top: 0;
}
.product_card_line:last-of-type {
  margin-bottom: 0;
}
.htmlacademy {
  margin-right: 72px;
}

.htmlacademy_svg {
  fill: #000;
}
.htmlacademy_svg:hover {
  fill: #756257;
}

.htmlacademy:focus {
  fill: #756257;
  padding: 15px;
  border: 3px solid #83B3D3;
  border-radius: 10px;
}
.htmlacademy_svg:active {
  fill: #756257;
  opacity: 0.3;
}
.modal {
  position: relative;
  margin: auto;
  background: #FFFFFF;
}
.modal_search {
  width: 715px;
  min-height: 561px;
  background: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}
.modal_close_button {
  position: absolute;
  top: 0;
  right: 0;
  fill: #000000;
  background: url("../img/modal_close_button.svg") no-repeat center;
  background-color: #F2F2F2;
  border-radius: 50%;
  width: 53px;
  height: 53px;
  padding: 0;
  margin-top: 54px;
  margin-right: 70px;
  cursor: pointer;
}
.modal_close_button:hover {
  background: url("../img/modal_close_button.svg") no-repeat;
  background-position: center;
  background-color: #E6E6E6;
}
.modal_close_button:focus {
  background: url("../img/modal_close_button.svg") no-repeat;
  background-position: center;
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
}
.modal_close_button:active {
  background: url("../img/modal_close_button.svg") no-repeat;
  background-position: center;
  background-color: #E6E6E6;
  border: none;
  opacity: 0.6;
}
.modal_title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  margin: 62px 0 54px 0;
  padding: 0;
}
.modal_content {
  display: flex;
  width: 575px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.modal_search_form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.modal_search_input {
  width: 420px;
  height: 50px;
  background: #F2F2F2;
  border-radius: 4px;
  border: none;
  margin-bottom: 40px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  margin-left: auto;
}
.modal_search_input:invalid {

}
.modal_search_label {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
}
.input_short {
  width: 133px;
  margin: 0px;
  margin-bottom: 40px;
  margin-left: auto;
}
.input_short:last-of-type {
  margin: 0px;
}
 .break {
  flex-basis: 100%;
   height: 0;
 }
 .modal_search_submit {
  width: 575px;
  height: 60px;
  background: #83B3D3;
  border-radius: 10px;
  margin: 0 auto;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  text-transform: uppercase;
  color: #FFFFFF;
 }
 .modal_search_submit:hover {
  background: #68A2CA;
 }
 .modal_search_submit:focus {
  background: #68A2CA;
  border: 3px solid #756257;
  border-radius: 10px;
 }
 .modal_search_submit:active {
  color: rgba(255, 255, 255, 0.3)
 }
 .modal_search_label:last-of-type {
   position: relative;
 }
 .children_info {
   width: 54px;
   margin-left: 54px;
   margin-right: 43px;
 }
 .children_info::after {
   position: absolute;
   content: 'i';
   color: #FFFFFF;
   text-align: center;
   width: 25px;
   height: 25px;
   background: #83B3D3;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   top: 10px;
   left: 50px;
 }
 .children_info::after:hover {
   position: absolute;
   width: 256px;
   height: 143px;
   background: #333333;
   box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
   border-radius: 10px;
 }
